.profile-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.profile-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color:white;
}