.profile-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.profile-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color:pink;
    margin-top:35px;
    margin-bottom:35px;
    margin-left: 550px;
    margin-right: 550px;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 5px 10px;
    width: 400px;
}