.new-post-form {
    display: flex;
    flex-direction: column;

    background-color:rgb(255,192,203,0.8);
    margin-top:35px;
    margin-bottom:35px;
    margin-right: auto;
    margin-left:auto;

    box-sizing: border-box;
    box-shadow: 5px 10px;
    align-items: center;
    width:min-content;
    padding: 20px;
}

