.sign-up-form {
    display: flex;
    height: 100vh;
  }
  
  .left-half {
    background-color: pink;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    flex: 0 0 50%; 
  }
  
  .right-half {
    flex: 0 0 50%; 
    background-image: url(../images/gbear.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    padding: 1rem;
    box-sizing: border-box; 
    overflow-y: auto; 
  }

  /* input{
      margin:10px;
  } */

  .sign-up-title {
      color:white;
      text-align: center;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 30px;
  }
  .sign-up-subt {
    color: rgb(221, 46, 237);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  
.sign-up-inputs {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#sign-up-button {
  background-color: rgb(97, 198, 172);
}

#sign-up-button:hover {
  transform: scale(1.05);
  background-color: white;
}