.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: #F2E7C4 ;
}
.error-message  {
  color: red;
}
.button {
  background-color: rgb(97, 198, 172);
  height: 25px;
  width: 25px;
}
.button:hover {
  background-color: white;
  transform: scale(1.15);
}
